<!DOCTYPE html>
<html lang="en">
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="col-xs-2">
					<a href="/show_repo/<%= @repo %>" class="btn btn-default navbar-btn">&lt; Repo</a>
				</div>
				<div class="col-xs-8" style="text-align: center; margin-top:8px;">
					<h4>Achieve!</h4>
				</div>
			</div>
		</nav>
	</div>
	<div style="margin-top: 70px;"></div>
	<div class="row">
    <div class="col-xs-12">
      <% @achievements.each do |k,v| %>
        <h4><%= k.to_s %></h4>
        <hr/>
        <% v.each do |a| %>
          <div class="alert alert-success">
            <a ref="#" class="alert-link"><%= a.achievement %></a>
            <br/>
            <div class="pull-right">
              achieved on <%= a.achieved.to_s %>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>