<!DOCTYPE html>
<html lang="en">
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
  	$(function () { 
      $('#commits_pie').highcharts({
        chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Commits per Person'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Commits',
                data: [
                    <% @num_of_commits.each do |commit| %>
                    	<%= raw "['#{commit[0]}',#{commit[1]}]," %>
                    <% end %>
                ]
            }]
      });
      <% if @closed_issues.count != 0 %>
      $('#closed_tickets_pie').highcharts({
        chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Merged Tickets per Person'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Commits',
                data: [
                    <% @closed_issues.each do |commit| %>
                      <% if commit[0] != nil %>
                        <%= raw "['#{commit[0]}',#{commit[1]}]," %>
                      <% end %>
                    <% end %>
                ]
            }]
      });
      <% end %>
      <% if @merged_issues.count != 0 %>
      $('#merged_issues_pie').highcharts({
        chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Closed Tickets per Person'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Commits',
                data: [
                    <% @merged_issues.each do |commit| %>
                      <% if commit[0] != nil %>
                        <%= raw "['#{commit[0]}',#{commit[1]}]," %>
                      <% end %>
                    <% end %>
                ]
            }]
      });
      <% end %>
    });
  </script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="col-xs-2">
					<a href="/show_repositories" class="btn btn-default navbar-btn">&lt; Repos</a>
				</div>
				<div class="col-xs-8" style="text-align: center; margin-top:8px;">
					<h4>Achieve!</h4>
				</div>
			</div>
		</nav>
	</div>
	<div style="margin-top: 70px;"></div>
	<div class="row">
		<div class="col-xs-12">
			<% @achievements.each do |achievement| %>
				<div class="alert alert-success">
		  			<a ref="#" class="alert-link"><%= achievement %></a>
				</div>
			<% end %>
			<div class="pull-right">
				<a href="/show_repo/<%= @repo %>/achievements">Show Past Achievements</a>
			</div>
			<div class="clearfix"></div>
			<ul class="nav nav-tabs" id="#mytabs">
  			  <li class="active"><a href="#num_of_commits" data-toggle="tab">Commits</a></li>
          <li><a href="#closed_tickets" data-toggle="tab">Closed</a></li>
          <li><a href="#merged_issues" data-toggle="tab">Merged</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="num_of_commits">
			  	<div class="row-fluid">
  					<div class="col-xs-12" style="text-align:center;">
              <% if @num_of_commits.count != 0 %>
  			  		  <div id="commits_pie" style="width:100%; height:280;"></div>
              <% else %>
                <h2>No Data.</h2>
              <% end %>
  					</div>
  				</div>
			  </div>
        <div class="tab-pane" id="closed_tickets">
          <div class="row-fluid">
            <div class="col-xs-12" style="text-align:center;">
              <% if @closed_issues.count != 0 %>
                <div id="closed_tickets_pie" style="width:100%; height:280;"></div>
              <% else %>
                <h2>No Data.</h2>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="merged_issues">
          <div class="row-fluid">
            <div class="col-xs-12" style="text-align:center;">
              <% if @merged_issues.count != 0 %>
                <div id="merged_issues_pie" style="width:100%; height:280;"></div>
              <% else %>
                <h2>No Data.</h2>
              <% end %>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>